<form method="post">
  <fieldset>
    <legend>VPN Aggressive Mode Verification</legend>
    <p>You must be root to run this task</p>
    <label for="target_ip">Target IP:</label>
    <input type="text" name="target_ip" id="target_ip"/><br/>
    <label for="target_param">Trace Parameter:</label>
    <input type="text" name="target_param" id="target_param"/><br/>
    <input type="submit" value="Execute"/>
  </fieldset>
</form>
<br/>
<a href="/">Back to Home</a>

