<form method="post">
  <fieldset>
    <legend>External Cipher Verification</legend>
    <label for="target_ip">Target IP:</label>
    <input type="text" name="target_ip" id="target_ip"/><br/>
    <label for="target_port">Target Port:</label>
    <input type="text" name="target_port" id="target_port"/><br/>
    <input type="submit" value="Execute"/>
  </fieldset>
</form>
<br/>
<a href="/">Back to Home</a>

