<br/>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">External</li>
          <li class="active"><a href="/cipher">Check Weak Ciphers</a></li>
          <li><a href="/trace">Check Trace HTTP Method</a></li>
          <li><a href="/ike">Check VPN Aggressive Mode</a></li>
          <li><a href="#">TODO</a></li>
          <li class="nav-header">Internal</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="nav-header">Reporting</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div><!--/.well -->
    </div>
  </div>
</div>

